@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-dark-top{
    background: radial-gradient(73.21% 54.9% at 50% 0%, rgba(245, 255, 0, 0.18) 0%, rgba(245, 255, 0, 0.00) 100%), #000;
}

.radial-light-top{
    background: radial-gradient(73.21% 54.9% at 50% 0%, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.00) 100%), #F5F5F5;
}

.dark-head-gradient{
    background: radial-gradient(63.53% 83.56% at 50% 100%, rgba(245, 255, 0, 0.24) 0%, rgba(245, 255, 0, 0.00) 100%), #000;
}

.dialog::backdrop {
    background-color: #0000008a;
    backdrop-filter: blur(2px);
  }
  
  .hide {
    animation: fadeOut 1s ease !important;
  }
  @keyframes fadeOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(800%);
    }
  }
  
  /* animação para fechar de cima para baixo */
  
  .top-to-bottom {
    animation: topToBottomIn 1s ease;
  }
  @keyframes topToBottomIn {
    0% {
      transform: translateY(-800%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .hide-top {
    animation: topToBottomOut 1s ease !important;
  }
  @keyframes topToBottomOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(800%);
    }
  }
  
  /* animação para fechar de baixo para cima */
  
  .bottom-to-top {
    animation: bottomToTopIn 1s ease;
  }
  
  @keyframes bottomToTopIn {
    0% {
      transform: translateY(800%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .hide-bottom {
    animation: bottomToTopOut 1s ease !important;
  }
  @keyframes bottomToTopOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(800%);
    }
  }
  
  /* animação para fechar da esquerda para direita */
  
  .left-to-right {
    animation: leftToRightIn 1s ease;
  }
  
  @keyframes leftToRightIn {
    0% {
      transform: translateX(-800%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .hide-left {
    animation: leftToRightOut 1s ease !important;
  }
  
  @keyframes leftToRightOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(800%);
    }
  }
  
  /* animação para fechar da esquerda para direita */
  
  .right-to-left {
    animation: rightToLeftIn 1s both;
  }
  
  @keyframes rightToLeftIn {
    0% {
      transform: translateX(900%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .hide-right {
    animation: rightToLeftOut 1s ease !important;
  }
  @keyframes rightToLeftOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-800%);
    }
  }
  
  /* @media (max-width: 1024px) {
    .top-to-bottom,
    .bottom-to-top,
    .right-to-left,
    .left-to-right {
      animation: bottomToTopIn 1s ease !important;
    }
  } */